/* Add your amazing style here! */
:root {
	--main-color:gold;
	--input-color:rgb(189, 189, 189);
}

* {
	padding: 0;
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
}

button{
	width: 100%;
	margin: 5px 5px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: transparent;
	border-style: none;
	outline: none;
	color: white;
}

input {
	width: calc( 100% - 2% );
	height: 40px;
	box-sizing: border-box;
	border-style: solid;
	border-color: var(--input-color);
	margin: 1% 1% 0% 1%;
	padding: 5px 5px 5px 5px;
	font-size: 18px;
	outline: none; 
	font-weight: 600;
}

input:focus{
	border-color: var(--main-color);
}

textarea {  
	overflow:hidden;
	min-height: 40px;
	width: calc( 100% - 2% );
	font-size: 18px;
	display:block;
	margin: 1% 1% 0% 1%;
	padding:10px 5px 15px 5px;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	border-color:var(--input-color);
	outline: none; 
	resize: none;
}

textarea:focus{
	border-color: var(--main-color);
}

p {
	font-size: 18px;
	user-select: none;
}
